.nav-top {
    width: 1440px;
    height: 40px;
    background-color: #F4F4F4;
    color: #AAAAAA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-down {
    width: 1440px;
    height: 99px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #F4F4F4;
    margin-bottom: 60px;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-controls-location {
    display: flex;
    align-items: center;
    gap: 25px;
}

.content {
    width: 1440px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.risk-trial {
    width: 1200px;
    height: 465px;
    background-color: #F2F2F2;
}

.footer {
    width: 1440px;
    height: 619px;
    background-color: #2B2B2B;
}





